@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

header {
    min-height: 10vh;
    background-color: rgb(78, 78, 78);
}

main {
    padding: 2vh;
    min-height: 75vh;
    background-color: rgb(0, 0, 0);
}

footer {
    min-height: 15vh;
    background-color: rgb(105, 105, 105);
}

.logo {
    height: 8vh;
}

.card {
    display: flex;
    margin: 1vh;
    padding: 14px;
    border-radius: 24px;
    background-color: white;
}

.card-img {
    height: 30vh;
}

.card-text {
    padding-left: 3vw;
}

.card-link {
    color: rgb(48, 121, 96);
}
.row {
    display: flex;
}
.col {
    padding: 2vw;
}

.logo-text {
    color:black;
    text-decoration: none;
}

.galary {
    margin-left: 10vw ;
width: 80vw;
}

.photo {
    width: 100%;
    
}

.err {
    color: azure;
    padding-left: 50%;
}

.phh {margin-left: 45%;
width: 20%;

}
